link(rel='stylesheet', href='//artistrip.com/css/bootstrap.min.css')
link(rel='stylesheet', href='//artistrip.com/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='//artistrip.com/css/custom.css')
link(rel='stylesheet', href='//artistrip.com/css/font-awesome.min.css')
